


.text  
{
    
    font-weight: bold;
}

.title-row {
  display: flex;
  align-items: flex-start;
}

.rating-badge {
  margin-left: 2px;       
  text-align: center;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  color: #110e0e;
  // color: #070606;
  flex-shrink: 0;          // 👈 rating kabhi squeeze na ho
  // color:#51f099
}



.card-title
{
    display: flex;
    justify-content: space-between;
}

 .price
{
    font-weight: bold;
    color: rgb(4, 97, 4);
    font-family: 'Times New Roman', Times, serif;
}

.card-img-top
{
 padding:20px 55px
}
   




// .warning
// {
//     background-color: rgb(67, 67, 102);
//     color: white;
// }

// .success
// {
//     background-color: rgb(76, 175, 192);
//     color:white
// }

