
        
        <img [src]="product.image" class="card-img-top" />
        <div class="card-body">

<div class="card-title title-row">
  <span class="text">{{ product.title }}</span>

  <!-- <small class="rating-badge"
         [style.backgroundColor]="getRatingBg()">
    ⭐{{ product.rating }}
  </small> -->

  <small class="rating-badge"
  [ngStyle]="getRatingStyle()">
  ⭐ {{ product.rating }}
  </small>

</div>







        

        <!-- <small>
        ⭐
        <span
        class="badge"
        [ngClass]="{
        'warning': product.rating >= 4.3 && product.rating < 4.6,
        'success': product.rating >= 4.6 && product.rating < 5
        }">
        {{ product.rating }}
        </span>`
        </small>  -->
    



        <p class="price">₹ {{ product.price }}</p>

        </div>

