    .card {
      width: 300px;
      padding: 20px;
      margin: 40px auto;
      border-radius: 12px;
      background: linear-gradient(135deg, #667eea, #764ba2);
      color: white;
      text-align: center;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
      font-family: Arial, sans-serif;
    }

    .card h2 {
      margin-bottom: 10px;
    }

    .card p {
      font-size: 18px;
      font-weight: 500;
    }



    // .message-card {
    // padding: 20px;
    // border-radius: 12px;
    // background: linear-gradient(135deg, #667eea, #764ba2);
    // text-align: center;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    // font-family: Arial, sans-serif;
    // width: 300px;
    // height:100px;
    // }

    // .message-card h3 {
    // margin-bottom: 10px;
    // }

    // .message-card p {
    // font-size: 18px;
    // font-weight: 500;
    // }
