
.btns
{
display: flex;
justify-content: center;
gap: 20px; /* Adds 20px space between flex items */
font-family: Georgia;
}

// .center-alert
// {
//     display: flex;
//     justify-content: center;
//     margin: 12px 0;
// }
