        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand ml-2" href="#">MyApp</a>
        <button
        class="navbar-toggler"
        type="button"
        (click)="toggleSidebar()"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/product">Products</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        </ul>
        </div>
        </nav>


        <!-- Sidebar -->
        <div class="sidebar" [class.open]="isOpen">
        <ul class="list-unstyled mt-4">
        <li><a routerLink="/home" (click)="closeSidebar()">Home</a></li>
        <li><a routerLink="/product" (click)="closeSidebar()">Products</a></li>
        <li><a routerLink="/about" (click)="closeSidebar()">About</a></li>
        <li><a routerLink="/contact" (click)="closeSidebar()">Contact</a></li>
        </ul>
        </div>
        <!-- overlay -->
        <div class="overlay" *ngIf="isOpen" (click)="closeSidebar()"></div>