// .wrapper {
//   width: 100%;
//   margin-top: 40px;
// }

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.tab-buttons button {
  padding: 8px 18px;
  border: 1px solid #007bff;
  // background: white;
  cursor: pointer;
}

.tab-buttons button.active {
  color: white;
}

.tab-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  
}

.read-toggle {
  color: #730939;
  font-size: 1rem !important;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
