.gradient-bg {
  background: linear-gradient(
    110deg,
    #d63887,
    #dd2476,
    #ec3da9,
    #f13980,
    #ee8fde
  );
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing:5px;
  word-spacing: 5px;
  text-align: center;
  color: white;
  padding: 4px;
}
