.gradient-bg {
  background: linear-gradient(
    110deg,
    #dbc2bd,
    #dd2476,
    #1fa2ff,
    #8d3789,
    #05b84f
  );
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing:5px;
  word-spacing: 5px;
  text-align: center;
  color: white;
  padding: 4px;
}
