
.col-md-4
{
    display: flex;
    justify-content: space-between;
    color: white;
}

.form-control {
   
    border:none !important;
}
   
  
    @media (max-width: 480px) {
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    
        .col-md-4 {
            width: 50%; /* Each takes half the width */
        }
    
        .col-md-4 input {
            width: 100%; /* Ensures input takes full available space */
        }
    
        h2 {
            font-size: 1rem; /* Adjust heading size for smaller screens */
        }
    }
    


