
    <div class="row">
        <div class="col-md-4">
            <h2>TMDB</h2>
        </div>
        <div class="col-md-4 offset-md-4">
            <input type="text" class="form-control">
        </div>
    </div>



<!-- <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
        <h2 class="mb-0 text-white">TMDB</h2>
        <input type="text" class="form-control mt-3 " style="max-width: 300px;">
    </div>
</div> -->


        <!-- <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-auto">
                    <h2 class="mb-0 text-white">TMDB</h2>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control mt-3">
                </div>
            </div>
        </div> -->
        
     
